import {${upperName}Service} from './${upperName}.service';

@Metadata()
@Controller()
export class ${upperName}Controller {

  constructor(private service: ${upperName}Service) { }

  ngOnInit() {
  }

}
