import { Controller } from '@nestjs/common';
import { Crud } from '@nestjsx/crud';
import { ${upperName}Service } from './${inputName}.service';
import { ${upperName}Entity } from './${inputName}.entity';
import { RouteMetadata } from 'nestjs-gis'

@RouteMetadata()
@Crud({
    model:{type:${upperName}Entity},
    params:{
    }
})
@Controller('rest/${inputName}')
export class ${upperName}Controller {

  constructor(private service: ${upperName}Service) { }

}
