import { Injectable } from '@nestjs/common';
import { InjectRepository } from '@nestjs/typeorm';
import { ${upperName}Entity } from './${inputName}.entity';
import { GISTypeOrmCrudService} from 'nestjs-gis'
@Injectable()
export class ${upperName}Service extends GISTypeOrmCrudService<${upperName}Entity>{

    constructor(@InjectRepository(${upperName}Entity) repo) {
        super(repo);
    }

}
