import { Injectable } from '@nestjs/common';
import { InjectRepository } from '@nestjs/typeorm';
import { ${upperName}Entity } from './${inputName}.entity';
import { GeometryService, GISTypeOrmCrudService} from 'nestjs-gis'
@Injectable()
export class ${upperName}Service extends GISTypeOrmCrudService<${upperName}Entity>{

    constructor(@InjectRepository(${upperName}Entity) repo,
                geo: GeometryService) {
        super(repo,geo);
    }

}
